body{
  background-color: #9b59b6;
  font-family: 'Open Sans', sans-serif;
  display:flex;
  align-items: center;
  justify-content: center;
 min-height: 100vh;
  margin: 0;
}
.header{
  background-color: #f7f7f7;
  border-bottom: 1px solid #f0f0f0;
  padding: 20px 40px;
}
#form{
  padding: 30px 40px;
  background-color: #f7f7f7;
  width: 300px;
  height:400px;
  margin-top: -50px;
}
label{
  display: inline-block;
  margin-bottom: 5px;
}
input{
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 280px;
  padding: 10px;
  font-size: 14px;
  font-family: inherit;
}
button{
  background-color: #8e44ed;
  border: 2px solid #8e44ed;
  border-radius: 4px;
  color: #fff;
  display: block;
  padding: 10px;
  font-size: 10px;
  font-family: inherit;
  width: 100%;
  margin-top: 30px;
}
.errorMsg {
  color: #cc0000;
  margin-bottom: 12px;
  font-size: 12px;
}
@media only screen and (max-device-width:400px){
  #form{
    width:200px;
  }
  .header{
    width:200px;
    height:90px;
    font-size: 10px;
  }
  input{
    width:200px;
    margin-top: 0px;
  }


}